<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Antonio:wght@300&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Antonio', sans-serif;
            }
        p{
            font-size:medium;
        }
        h1{
            text-align: center;
        }
        .container{  margin-left: auto;
        color:rgb(24, 23, 22);
    margin-right: auto;
       margin-top: 50px;
        max-width: 300px;
        }
    </style>
</head>
<body>
     {{>header}}
    <div  class="container">
     <p >Enter the address of the location for which you are looking to get the weather forcast in the search bar below </p>

    </div>
{{>footer}}
</body>
</html>