<style>
    .navbar{
        list-style: none;
            margin: 0px;
            padding:0px;
            background: rgb(44, 119, 175);
            border-radius : 5px;
            overflow:auto;
    }
    .navbar li{
        float: left;
    }
    .navbar li a{
            display:block;
            color:white;
            text-decoration: none;
            padding :15px 20px;

        }
    a{
        display:block;
    }
    .navbar li a:hover{
            background-color: blue;
        }
</style>
<h1>{{title}}</h1>
    <ul class="navbar">
   <li > <a href="http://localhost:3000"> Home</a></li>
    <li><a href="/about">About </a></li>
    <li><a href="/help">Help</a></li>
    </ul>
